
~
~# macOS
.DS_Store
.AppleDouble
.LSOverride

# macOS system folders
__MACOSX/

# Godot
.import/
*.translation
*.godot
debug/

# Godot temporary files
*.tmp
*.log
*.cfg
*.mono/

# Ignore exported builds
exports/

~
~
~
~
~
~
~
~
~
~
~
~
~
~
~
~
~
~
~
~
~
~
~
~
~
~
~
~
~
~
~
~
~
~
~
~
~
~
~
~
~
~
.gitignore                                                                                                 15,17          All
-- INSERT --n
